{
  "PublisherId": "CN=15F4CA98-5E51-47B5-A635-19DB85D2C635",
  "PublisherDisplayName": "JOANNA DOROTA BUCKA-KOLENDO",
  "PackageIdentityName": "JOANNADOROTABUCKA-KOLENDO.MazeBall3dforXBOX",
  "DisplayName": "Maze Ball 3d for XBOX",
  "AppId": "9PCPLJBG2S83",
  "ProductFamilyName": "JOANNADOROTABUCKA-KOLENDO.MazeBall3dforXBOX_phrk0n5h27cwp",
  "PrimaryServiceConfigId": "00000000-0000-0000-0000-000063994548",
  "TitleId": 1670989128,
  "Sandbox": "HKDCVZ.58",
  "XboxLiveCreatorsTitle": true
}